html, body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#colourPanel, #fruitDesc {
    padding: 15px;
    width: fit-content;
}

#colourPanel { background: #ffe4c4 }

#coloursContainer {
    display: flex;
    gap: 10px;
    padding: 5px;
}

.shadow { box-shadow: 2px 2px 5px black }

#fruitDesc { background: #7fffd4 }

.colourBlock {
    display: block;
    width: 30px;
    height: 25px;
}

#colourPanel h3 {
    margin: 0
}

#fruitDesc img { width: 100px }